create host-interface name vpp1
set int state host-vpp1 up
set int ip address host-vpp1 6.0.1.1/24

create host-interface name intervpp11
set int state host-intervpp11 up
set int ip address host-intervpp11 6.0.3.1/24

create host-interface name intervpp21
set int state host-intervpp21 up
set int ip address host-intervpp21 6.0.4.1/24

lisp enable

lisp locator-set add ls1 iface host-intervpp11 p 1 w 1 iface host-intervpp21 p 1 w 1
lisp eid-table add eid 6.0.1.0/24 locator-set ls1
lisp map-resolver add 6.0.3.100
