create host-interface name vpp2
set int state host-vpp2 up
set int ip address host-vpp2 6.0.1.2/24
set interface l2 bridge host-vpp2 10

create host-interface name intervpp12
set int state host-intervpp12 up
set int ip address host-intervpp12 6.0.3.2/24

create host-interface name intervpp22
set int state host-intervpp22 up
set int ip address host-intervpp22 6.0.4.2/24
