create_host_iface vpp5 6.0.10.11/24
set_if_l2_bridge host-vpp5 20

create_host_iface vpp8 6.0.10.15/24
set_if_l2_bridge host-vpp8 10

create_host_iface xtr1 6.0.3.1/24

lisp_state enable
lisp_map_request_mode src-dst
lisp_locator_set_with_locator ls1 host-xtr1 1 1
lisp_eid_map_bd 20 20
lisp_local_eid vni 20 eid 08:11:11:11:11:11 locator-set ls1
lisp_remote_mapping vni 20 eid 08:22:22:22:22:22 rloc 6.0.3.3
lisp_adjacency vni 20 leid 08:11:11:11:11:11 reid 08:22:22:22:22:22
lisp_l2_arp bd 20 ip 6.0.10.22 mac 08:22:22:22:22:22
