create_host_iface vpp6 6.0.10.12/24
set_if_l2_bridge host-vpp6 20
create_host_iface xtr3 6.0.3.3/24

lisp_state enable
lisp_locator_set_with_locator ls1 host-xtr3 1 1
lisp_eid_map_bd 20 20
lisp_local_eid vni 20 eid 08:22:22:22:22:22 locator-set ls1
lisp_remote_mapping vni 20 eid 08:11:11:11:11:11 rloc 6.0.3.1
lisp_adjacency vni 20 reid 08:11:11:11:11:11 leid 08:22:22:22:22:22
lisp_l2_arp bd 20 ip 6.0.10.21 mac 08:11:11:11:11:11
