create host-interface name vpp1_cus1
set int state host-vpp1_cus1 up
set interface ip6 table host-vpp1_cus1 100
set int ip address host-vpp1_cus1 6:0:2::1/64

create host-interface name vpp1_cus2
set int state host-vpp1_cus2 up
set interface ip6 table host-vpp1_cus2 200
set int ip address host-vpp1_cus2 6:0:2::1/64

create host-interface name intervpp1
set int state host-intervpp1 up
set int ip address host-intervpp1 6:0:3::1/64

lisp enable
lisp map-resolver add 6:0:3::100

lisp locator-set add ls1 iface host-intervpp1 p 1 w 1
lisp eid-table map vni 100 vrf 100
lisp eid-table add vni 100 eid 6:0:2::0/64 locator-set ls1

lisp locator-set add ls2 iface host-intervpp1 p 1 w 1
lisp eid-table map vni 200 vrf 200
lisp eid-table add vni 200 eid 6:0:2::0/64 locator-set ls2
