create host-interface name vpp2
set int state host-vpp2 up
set int ip address host-vpp2 6:0:4::1/64
create host-interface name vpp2_rtr
set int state host-vpp2_rtr up
set int ip address host-vpp2_rtr 6:0:5::1/64
create host-interface name vpp2_wan4
set int state host-vpp2_wan4 up
set int ip address host-vpp2_wan4 6.0.3.3/24
