create host-interface name vpp1_cus1
set int state host-vpp1_cus1 up
set interface ip table host-vpp1_cus1 100
set int ip address host-vpp1_cus1 6.0.2.1/24

create host-interface name vpp1_cus2
set int state host-vpp1_cus2 up
set interface ip table host-vpp1_cus2 200
set int ip address host-vpp1_cus2 6.0.2.1/24

create host-interface name intervpp1
set int state host-intervpp1 up
set int ip address host-intervpp1 6.0.3.1/24
