create host-interface name vpp2_cus1
set int state host-vpp2_cus1 up
set interface ip table host-vpp2_cus1 100
set int ip address host-vpp2_cus1 6.0.4.1/24

create host-interface name vpp2_cus2
set int state host-vpp2_cus2 up
set interface ip table host-vpp2_cus2 200
set int ip address host-vpp2_cus2 6.0.4.1/24

create host-interface name intervpp2
set int state host-intervpp2 up
set int ip address host-intervpp2 6.0.3.2/24
