create host-interface name vpp2
set int state host-vpp2 up
set int ip address host-vpp2 6.0.2.1/24

create host-interface name intervpp2
set int state host-intervpp2 up
set int ip address host-intervpp2 6:0:3::2/64

lisp enable

lisp locator-set add ls1 iface host-intervpp2 p 1 w 1
lisp eid-table add eid 6.0.2.0/24 locator-set ls1
lisp map-resolver add 6:0:3::100
