create_host_iface vpp2 6.0.2.1/24
create_host_iface intervpp2 6.0.3.2/24

lisp_state enable
lisp_locator_set_with_locator ls1 host-intervpp2 1 1
lisp_local_eid eid 6.0.2.0/24 locator-set ls1
lisp_remote_mapping eid 6.0.1.0/24 rloc 6.0.3.1
lisp_adjacency leid 6.0.2.0/24 reid 6.0.1.0/24

ipsec_sad_add_del_entry esp sad_id 10 spi 1000 crypto_alg aes-cbc-128 crypto_key 69485741315772365051494e59507650 integ_alg sha1-96 integ_key 6958633071487352456345317767776244554174
ipsec_sad_add_del_entry esp sad_id 20 spi 1001 crypto_alg aes-cbc-128 crypto_key 69485741315772365051494e59507650 integ_alg sha1-96 integ_key 6958633071487352456345317767776244554174
ipsec_spd_add_del spd_id 1
ipsec_interface_add_del_spd host-intervpp2 spd_id 1
ipsec_spd_add_del_entry spd_id 1 priority 100 inbound action bypass protocol 50 
ipsec_spd_add_del_entry spd_id 1 priority 100 outbound action bypass protocol 50
ipsec_spd_add_del_entry spd_id 1 priority 10 inbound action protectsa_id 20 laddr_start 6.0.3.2 laddr_stop 6.0.3.2 raddr_start 6.0.3.1 raddr_stop 6.0.3.1
ipsec_spd_add_del_entry spd_id 1 priority 10 outbound action protectsa_id 10 laddr_start 6.0.3.2 laddr_stop 6.0.3.2 raddr_start 6.0.3.1 raddr_stop 6.0.3.1
