create host-interface name vpp1
set int state host-vpp1 up
set int ip address host-vpp1 6.0.1.1/24

create host-interface name intervpp1
set int state host-intervpp1 up
set int ip address host-intervpp1 6.0.3.1/24

lisp enable

lisp locator-set add ls1 iface host-intervpp1 p 1 w 1
lisp map-resolver add 6.0.3.100

lisp eid-table map vni 10 bd 10
set interface l2 bridge host-vpp1 10
lisp eid-table add vni 10 eid 08:11:11:11:11:11 locator-set ls1
