create host-interface name rtr_vpp1
set int state host-rtr_vpp1 up
set int ip address host-rtr_vpp1 6.0.3.2/24

create host-interface name rtr_vpp2
set int state host-rtr_vpp2 up
set int ip address host-rtr_vpp2 6:0:5::2/64

lisp enable

lisp locator-set add ls1 iface host-rtr_vpp1 p 1 w 1 iface host-rtr_vpp2 p 1 w 1
lisp pitr ls ls1
comment { lisp pitr disable }
lisp remote-mapping deid 6:0:0::0/32 action send-map-request
lisp map-resolver add 6.0.3.100
