create host-interface name vpp2_cus1
set int state host-vpp2_cus1 up
set interface ip6 table host-vpp2_cus1 100
set int ip address host-vpp2_cus1 6:0:4::1/64

create host-interface name vpp2_cus2
set interface ip6 table host-vpp2_cus2 200
set int state host-vpp2_cus2 up
set int ip address host-vpp2_cus2 6:0:4::1/64

create host-interface name vpp2_rtr
set int state host-vpp2_rtr up
set int ip address host-vpp2_rtr 6:0:5::1/64
