create host-interface name vpp1
set int state host-vpp1 up
set int ip address host-vpp1 6.0.1.1/24
set int ip address host-vpp1 6:0:1::1/64

create host-interface name intervpp1
set int state host-intervpp1 up
set int ip address host-intervpp1 6.0.3.1/24
set int ip address host-intervpp1 6:0:3::1/64
