create_host_iface vpp1 6.0.1.1/24
set_if_l2_bridge host-vpp1 10
create_host_iface intervpp1 6.0.3.1/24

lisp_state enable
lisp_stats enable
lisp_locator_set_with_locator ls1 host-intervpp1 1 1
lisp_eid_map_bd 10 10
lisp_local_eid vni 10 eid 08:11:11:11:11:11 locator-set ls1
lisp_remote_mapping vni 10 eid 08:22:22:22:22:22 rloc 6.0.3.2
lisp_adjacency vni 10 leid 08:11:11:11:11:11 reid 08:22:22:22:22:22
