create host-interface name vpp2
set int state host-vpp2 up
set int ip address host-vpp2 6:0:4::1/64
create host-interface name vpp2_rtr
set int state host-vpp2_rtr up
set int ip address host-vpp2_rtr 6:0:5::1/64

lisp enable

lisp map-resolver add 6:0:5::100
lisp locator-set add ls1 iface host-vpp2_rtr p 1 w 1
lisp eid-table add eid 6:0:4::0/64 locator-set ls1
